<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Expires" CONTENT="0">

    <title>友情链接管理</title>

    <link href="{skin:'Css/css.css'}" rel="stylesheet" type="text/css" />
    <link href="{jq:'ValidForm/css.css'}" rel="stylesheet" type="text/css" />

    <!--[if IE]><script src="{jq:'jquery-1.11.1.min.js'}"></script><![endif]-->
    <!--[if !IE]><!--><script src="{jq:'jquery-2.1.1.min.js'}"></script><!--<![endif]-->
    <script src="{jq:'ValidForm/validform.js'}"></script>
    <script src="{skin:'js/common.js'}"></script>

    <script type="text/javascript">

        window.onload=function(){
            data=$(".form").Validform({
                tiptype:2,
                callback:function(data){
                    if(data.status=="y"){
                        location.href =	"{app_url:'/link/execution/re/1/message'}"+data.message;
                    }else{
                        location.href =	"{app_url:'/link/execution/re/0/message'}"+data.message;
                    }
                }
            });


            $("#save").click(function(){
                data.ajaxPost();
                $.Hidemsg();
            });
        };
    </script>

</head>
<body>
<div id="main">
    <form method="post" action="{app_url:'/link/save/id/'.$_GET['id']}" class="form">
        <div id="main_top">
            <dl id="article_ico">
                <dd class="art_ico_8"><a href="javascript:void(0)" id="save">保存链接</a></dd>
                <dd class="art_ico_9"><a href="javascript:history.go(-1)">取消返回</a></dd>
            </dl>
        </div>
        <div id="art_body">
            <table cellspacing="0" class="add_art">
                <tr>
                    <th>网址名称：</th>
                    <td width="320"><input name="name" type="text" id="name" class="inputxt" style="width:300px" datatype="*1-30" nullmsg="链接名称为能为空！" errormsg="链接名称为1-30个字符！" value="{$link['name']}" /></td>
                    <td><span class="article_notes colorf60">※：请输入链接名称。</span></td>
                </tr>
                <tr>
                    <th>传递权重：</th>
                    <td width="320">
                        <input type="radio" name="w_status"  value="1" {if $link['w_status']}checked{/if}>&nbsp;&nbsp;是&nbsp;&nbsp;
                        <input type="radio" name="w_status"  value="0" {if !$link['w_status']}checked{/if}>&nbsp;&nbsp;否
                    </td>
                    <td><span class="article_notes colorf60">※：是否传递权重。</span></td>
                </tr>
                <tr>
                    <th>方法/链接：</th>
                    <td><input name="link" type="text" id="link" class="inputxt" value="{$link['link']}" style="width:300px" datatype="url" nullmsg="模块名称不能为空！"/></td>
                    <td><span class="article_notes colorf60">※：链接地址</span></td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>
